* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(195, 194, 194);
}
.container {
    margin: 80px auto;
    max-width: 340px;
    width: 100%;

}
form {
    margin-top: 40px;
}

input,
textarea,
button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;

}
.msg-alert {
    width: 100%;
    display: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    
}

.msg-alert-green {
    background-color: green;
    display: block;
}

.msg-alert-red {
    background-color: red;
    display: block;
}

.container form {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
   
}

.container form input {
    border-radius: 3px;
    text-align: center;
    border: 3px solid;
    outline: none;
}

.container form input:focus {
    border: 3px solid crimson;
}

.container form button {
    border-radius: 3px;
    font-weight:bold;
    background-color:crimson;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}